[Desktop Entry]
Type=Application
Exec=/usr/bin/conky -d -p 2
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_CA]=Conky
Name=Conky
Comment[en_CA]=
Comment=
