/* App Grid */
.icon-grid {
  font-size: 10pt;
}

/* Remove running dot from app grid */
.app-well-app-running-dot {
  height: 0px;
  width: 0px;
  border-radius: 5px;
  margin-bottom: 8px;
  background-color: #ffffff; }

