[Desktop Entry]
Version=0.4
Name=Helium
GenericName=Web Browser
Comment=Access the Internet
Exec=/usr/local/bin/helium-0.5.3.1-x86_64.AppImage
StartupNotify=true
Terminal=false
Icon=helium.png
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
