[Desktop Entry]
Name[cs]=Vstupní metoda
Name[da]=Inputmetode
Name[de]=Eingabemethode
Name[fr]=Méthode d'entrée
Name[ja]=入力メソッド
Name[ko]=입력기
Name[ru]=Метод ввода
Name[sv]=Inmatningsmetod
Name[uk]=Спосіб введення
Name[vi]=Trình chuyển cách nhập liệu
Name[zh_CN]=输入法
Name[zh_HK]=輸入法
Name[zh_TW]=輸入法
Name=Input Method
Comment[cs]=Nastavení vstupní metody klávesnice
Comment[da]=Indstil inputmetode for tastatur
Comment[ja]=キーボード入力メソッドの設定
Comment[ru]=Настройка метода ввода с клавиатуры
Comment[sv]=Ställ in metod för tangenbordsinmatning
Comment[uk]=Налаштування способу введення за допомогою клавіатури
Comment[vi]=Chọn kiểu nhập bàn phím
Comment[zh_CN]=设定键盘输入模式
Comment[zh_HK]=設定鍵盤輸入模式
Comment[zh_TW]=設定鍵盤輸入模式
Comment=Set Keyboard Input Method
Type=Application
Keywords[sv]=keyboard;input;tangentbord;inmatning
Keywords[zh_CN]=keyboard;input;键盘;输入法;
Keywords=keyboard;input
Exec=im-config
Terminal=false
Icon=input-keyboard
Categories=Settings
X-AppStream-Ignore=true
NoDisplay=true
