[Desktop Entry]
Name=kDrive Client
Exec=/usr/local/bin/kdrive.AppImage
Comment=kDrive client for Linux
StartupNotify=true
Terminal=false
Icon=kdrive.png
Type=Application
Categories=System;FileTools;Utility
