[Desktop Entry]
Name=kDrive
Exec=/home/bft/Applications/kDrive.AppImage
Comment=kDrive client for Linux
StartupNotify=true
Terminal=false
Icon=kdrive.png
Type=Application
Categories=System;FileTools;Utility
