/* Rounded corners */
headerbar {
  border-radius: 15px 15px 0 0;
}
window decoration {
  border-radius: 15px;
}
window, window.background {
  border-radius: 0 0 15px 15px;
}
menuitem decoration {
  border-radius: 0;
}
/* Rounded corners */
